<title>Provider Home page</title>

<div data-role="header" style="overflow:hidden;">
  <h1>Provider Home page</h1>
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Full Site', provider_home_path(:mobile => 0), :class => 'ui-btn ui-btn-icon-bottom ui-icon-action' %></li>
      <li><%= link_to 'Help', admin_home_help_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-info'  %></li>
      <li><%= link_to 'Home', provider_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content" align="center">
  <%= image_tag "/DDRC_Icon.jpg" %>

  <h1>Welcome back <%= session[:self_provider_name] %></h1>

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= link_to 'View Clients', pv_patient_record_arrays_path,
              :class => 'ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r' %>
</div>



