<% content_for :title do %>
    Incidents Graph
<% end %>

<% content_for :header do %>
    <%= link_to 'Back', av_show_all_incidents_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %>
<% end %>


<div data-role="controlgroup" data-type="vertical">
    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
      <h4>Provider: <%= session[:graph_provider_id_name] %></h4>
      <ul data-role="listview" data-theme="a" style="opacity: 0.5">
        <li><%= link_to 'all', av_show_select_incident_graph_path('0','all','all') %></li>
        <% @provider_array.each do |i| %>
            <li><%= link_to i.provider.provider_name, av_show_select_incident_graph_path(i.provider.id,'all','all') %></li>
        <% end %>
      </ul>
    </div>

    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
      <h4>Client: <%= session[:graph_patient_id_name] %></h4>
      <ul data-role="listview" data-theme="a" style="opacity: 0.5">
        <li><%= link_to 'all', av_show_select_incident_graph_path('all','0','all') %></li>
        <% @patient_array.each do |i| %>
            <li><%= link_to i.patient.patient_name, av_show_select_incident_graph_path('all',i.patient.id,'all') %></li>
        <% end %>
      </ul>
    </div>

    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
      <h4>Behavior: <%= session[:graph_behavior_id_name] %></h4>
      <ul data-role="listview" data-theme="a" style="opacity: 0.5">
        <li><%= link_to 'all', av_show_select_incident_graph_path('all','all','0') %></li>
        <% @behavior_array.each do |i| %>
            <li><%= link_to i.behavior.behavior_name, av_show_select_incident_graph_path('all','all',i.behavior.id) %></li>
        <% end %>
      </ul>
    </div>
</div>

<%= link_to 'Graph it', av_show_incident_graph_path, :class => 'ui-btn' %>


<% content_for :panel do %>
    <ul>
      <li>Select a Provider or all to choose all Providers.</li>
      <li>Select a Client or all to choose all Clients.</li>
      <li>Select a Behavior or all to choose all Behaviors.</li>
    </ul>
<% end %>