<title>Behavior List</title>

<div data-role="header" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <li><%= link_to 'Info', request.original_url+'#nav-panel', :class => 'ui-btn ui-btn-icon-bottom ui-icon-info' %></li>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content">
  <center><h2>Behavior List</h2></center>

  <% if @behavior_array != nil && @behavior_array.empty? != true%>
      <% @behavior_array.each do |b| %>
          <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
            <h4><%= b.behavior_name %></h4>
            <ul data-role="listview" data-theme="a" style="opacity: 0.5">
              <li><%=  'Description: '+b.behavior_description%></li>
              <li><%= link_to 'Edit',av_edit_behavior_path(b.id) %></li>
              <li><%= link_to 'Deactivate',av_deactivate_behavior_path(id: b.id),
                              data: { confirm: 'Are you sure you wish to deactivate behavior: '+b.behavior_name } %></li>
            </ul>
          </div>
      <% end %>
  <% else %>
      <h3>None</h3>
  <% end %>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Create new', av_create_new_behavior_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-plus' %></li>
      <li><%= link_to 'List Inactive', av_show_all_inactive_behaviors_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-bars'  %></li>
    </ul>
  </div>
</div>

<% if params[:create_behavior_success_flag] == '*' %>
    <script language="JavaScript">
        alert("New Behavior Created000")
    </script>
<%end%>

<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
  <a href="#" data-icon="delete" data-rel="close">Close</a>
  help
</div>