<title>Log in</title>
<div data-role="header" align="center">
  <%= image_tag "/DDRC_Icon.png" %>
</div>

<div data-role="content" align="center">
  <h1>Log in</h1>

  <%=form_tag log_in_path do%>
      <h3>
        <%=label_tag :provider_name %>
        <%=text_field_tag :provider_name %>

        <%=label_tag :password %>
        <%=password_field_tag :password %>
      </h3>

      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><%= submit_tag 'Log in', :class => 'ui-btn ui-btn-icon-bottom ui-icon-star' %></li>
            <li><%= link_to 'Cancel', root_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-delete'  %></li>
          </ul>
        </div>
      </div>
  <%end%>
</div>

