<title>Create new Individual and assign to Provider: <%= params[:provider_name]%></title>

<table class="background">
  <tr class="background">
    <td width="75px"></td>
    <td><h3><center>Create new Individual and assign to Provider: <%= params[:provider_name]%></center></h3></td>
  </tr>
</table>

<!-- Creates a form for our patient model -->
<%= form_for @patient do |f| %>

    <% if @patient.errors.any? %>
        <div class='error_messages'>
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @patient.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <h3>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :patient_name %>
    </p>
    </h3>
    <%= hidden_field_tag :provider_id, params[:provider_id] %>
    <%= f.submit 'Submit', :class => 'function_button' %>
    <%= link_to 'Cancel', root_path, :class => 'function_button' %>
<% end %>
<table>
  <tr><td><%= link_to 'Back', session[:patient_list_url], :class => 'function_button menu' %></td></tr>
</table>
