<% content_for :title do %>
    Create new Provider and assign to Client: <%= params[:patient_name] %>
<% end %>

<% content_for :header do %>
    <%= link_to 'Back', session[:provider_list_url], :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %>
<% end %>

  <h2>Create new Provider and assign to Client: <%= params[:patient_name] %></h2>

  <% if @provider.errors.any? %>
      <div class='error_messages'>
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @provider.errors.full_messages %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @provider do |f| %>
      <h3>
        <%= f.label :provider_name %>
        <%= f.text_field :provider_name %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </h3>

      <%= hidden_field_tag :patient_id, params[:patient_id] %>

      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><%= submit_tag 'Submit', :class => 'ui-btn ui-btn-icon-bottom ui-icon-star' %></li>
            <li><%= link_to 'Cancel', session[:provider_list_url], :class => 'ui-btn ui-btn-icon-bottom ui-icon-delete'  %></li>
          </ul>
        </div>
      </div>
  <% end %>

<% content_for :panel do %>
    <ul>
      <li>Enter the new providers name and password. Press submit to save and assign the provider to the client.</li>
    </ul>
<% end %>