<% if @incident_array != nil %>
    <table>
      <tr>
        <th>Incident ID</th>
        <th>Provider</th>
        <th>Client</th>
        <th>Behavior</th>
        <th>Timpestamp</th>
      </tr>
      <% @incident_array.each do |i| %>
          <tr>
            <td><%= i.id%></td>
            <td><%= i.provider.provider_name %></td>
            <td><%= i.patient.patient_name %></td>
            <td><%= i.behavior.behavior_name %></td>
            <td><%= i.created_at %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <h3>None</h3>
<% end %>