<title>Incidents List</title>

<div data-role="header" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <li><%= link_to 'Info', request.original_url+'#nav-panel', :class => 'ui-btn ui-btn-icon-bottom ui-icon-info' %></li>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<% count = 0%>
<div data-role="content" align="left">
  <center><h2>Incidents List</h2></center>

  <form><input id="filterTable-input" data-type="search" data-theme="a"></form>

  <table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a" data-filter="true" data-input="#filterTable-input">
    <thead>
    <tr class="ui-bar-d">
      <th data-priority="3">ID</th>
      <th data-priority="1">Provider</th>
      <th data-priority="1">Client</th>
      <th data-priority="1">Behavior</th>
      <th data-priority="2">Timpestamp</th>
    </tr>
    </thead>
    <tbody>
    <% @incident_array.each do |i| %>
        <tr>
          <td><%= count+=1 %></td>
          <td><%= i.provider.provider_name %></td>
          <td><%= i.patient.patient_name %></td>
          <td><%= i.behavior.behavior_name %></td>
          <td><%= i.created_at.year %>-<%= i.created_at.month %>-<%= i.created_at.day %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Download Excel File', av_index_excel_path(format: "xls"), :class => 'ui-btn ui-shadow ui-corner-all ui-btn-icon-bottom ui-icon-arrow-d' %></li>
      <li><%= link_to 'Graphs', av_show_incident_graph_path, :class => 'ui-btn ui-shadow ui-corner-all ui-btn-icon-bottom ui-icon-arrow-r' %></li>

    </ul>
  </div>
</div>

<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
  <a href="#" data-icon="delete" data-rel="close">Close</a>
  <li>Select columns to display to select the columns to display.</li>
  <li>Select download exel file to download all incidents in the database.</li>
</div>