<title>Assign Individual to a Provider</title>

<table class="background">
  <tr class="background">
    <td width="75px"></td>
    <td><h3>Assign Individual to a Provider</h3></td>
  </tr>
</table>

<!-- Creates a form for our patient model -->
<%= form_for @patientprovider do |f| %>

  <% if @patientprovider.errors.any? %>
      <div class='error_messages'>
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @patientprovider.errors.full_messages %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <h3>
  <p>
    <%= f.label :patient_id %><br />
    <%= f.text_field :patient_id %>
  </p>
  <p>
    <%= f.label :provider_id %><br />
    <%= f.text_field :provider_id %>
  </p>
  </h3>
    <%= f.submit 'Submit', :class => 'function_button' %>
    <%= link_to 'Cancel', root_path, :class => 'function_button' %>
<% end %>
