<% content_for :title do %>
    Edit Admin: <%= session[:edit_self_original_name] %>
<% end %>

<% content_for :header do %>
    <%= link_to 'back',
                    if session[:self_super_admin] == 1
                      super_admin_home_path
                    elsif session[:self_admin] == 1
                      admin_home_path
                    end,
                    :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %>
<% end %>


<h2>Edit Admin: <%= session[:edit_self_original_name] %></h2>

<% if @provider.errors.any? %>
    <div class='error_messages'>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @provider.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @provider do |f| %>
    <h3>
      <%= f.label :provider_name %>
      <%= f.text_field :provider_name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </h3>

    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
      <div data-role="navbar">
        <ul>
          <li><%= submit_tag 'Submit', :class => 'ui-btn' %></li>
          <li><%= link_to 'Cancel',
                      if session[:self_super_admin]
                        super_admin_home_path
                      elsif session[:self_admin]
                        admin_home_path
                      end,
                      :class => 'ui-btn' %></li>
        </ul>
      </div>
    </div>
<% end %>

<% content_for :panel do %>
    <ul>
      <li>Enter the providers new name or password.</li>
      <li>Select if the provider is an admininstrator or not.</li>
      <li>Press submit to save.</li>
    </ul>
<% end %>
