<title>Admin Home page</title>

<div data-role="header" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <li><%= link_to 'Info', request.original_url+'#nav-panel', :class => 'ui-btn ui-btn-icon-bottom ui-icon-info' %></li>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content" style="text-align: center">
  <h2>Admin Home page</h2>

  Welcome back <%= session[:self_provider_name] %>

  <%= link_to 'Show all Clients', av_show_all_patients_path, :class => 'ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r' %>
  <%= link_to 'Show all Providers', av_show_all_providers_path, :class => 'ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r' %>
  <%= link_to 'Show all Behaviors', av_show_all_behaviors_path, :class => 'ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r' %>
  <%= link_to 'Show all Incidents', av_show_all_incidents_path, :class => 'ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r' %>
  <%= link_to 'Edit Self', av_edit_provider_path(session[:self_provider_id]), :class => 'ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r' %>
</div>

<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
  <a href="#" data-icon="delete" data-rel="close" class="ui-btn ui-btn-icon-right ui-icon-delete">Close</a>
  <ul>
    <li>Press the Client, Provider, or Behavior button to list the respective entries in the database.</li>
    <li>Press the Incident button to list the Incidents in the database.</li>
    <li>Press the Edit self button to change your username or password.</li>
  </ul>
</div>