<title>Tracked Behaviors for Client: <%=  params[:patient_name] %></title>

<div data-role="header" data-position="fixed">
  <h1>Tracked Behaviors for Client: <%=  params[:patient_name] %></h1>
  <div data-role="navbar">
    <ul>
      <% if session[:patient_show_behavior_redirect_flag] == 1 %>
           <li><%= link_to 'Back', av_show_all_providers_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <% elsif session[:patient_show_behavior_redirect_flag] == 0 %>
          <li><%= link_to 'Back', session[:patient_show_url], :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <% end %>
      <li><%= link_to 'CHANGE_HELP_PATH', av_show_all_patients_help_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-info'  %></li>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content">
  <% if @behavior_show_array != nil %>
      <% @behavior_show_array.each do |b| %>
          <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
            <h4><%= b.behavior_name %></h4>
            <ul data-role="listview" data-theme="a" style="opacity: 0.5">
              <li><%= link_to  'Add incident', add_incident_path(session[:self_provider_id], params[:patient_id], b.id), data: { confirm: 'Confirm add incident of behavior: '+b.behavior_name+' for Client: '+params[:patient_name]} %></li>
              <li><%= link_to 'Remove', delete_patientbehavior_path(params[:patient_id], b.id), data: { confirm: 'Are you sure you want to stop tracking behavior: '+b.behavior_name+' for Client: '+params[:patient_name]} %></li>
            </ul>
          </div>
      <% end %>
  <% else %>
      <h3>None</h3>
  <% end %>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Add new behavior', av_show_all_behaviors_to_add_to_patient_path(params[:patient_name], params[:patient_id]), :class => 'ui-btn ui-btn-icon-bottom ui-icon-plus' %></li>
    </ul>
  </div>
</div>


