<title>Create new Behavior and add to Client: <%= params[:patient_name] %></title>

<div data-role="header" data-position="fixed">
  <h1>Create new Behavior and add to Client: <%= params[:patient_name] %></h1>
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', session[:behavior_list_url], :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <li><%= link_to 'Info', request.original_url+'#nav-panel', :class => 'ui-btn ui-btn-icon-bottom ui-icon-info' %></li>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content">

  <% if @behavior.errors.any? %>
      <div class='error_messages'>
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @behavior.errors.full_messages %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @behavior do |f| %>
      <h3>
        <%= f.label :behavior_name %>
        <%= f.text_field :behavior_name %>

        <%= f.label :behavior_description %>
        <%= f.text_area :behavior_description %>
      </h3>

      <%= hidden_field_tag :patient_id, params[:patient_id] %>

      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><%= submit_tag 'Submit', :class => 'ui-btn ui-btn-icon-bottom ui-icon-star' %></li>
            <li><%= link_to 'Cancel', session[:behavior_list_url], :class => 'ui-btn ui-btn-icon-bottom ui-icon-delete'  %></li>
          </ul>
        </div>
      </div>
  <% end %>
</div>

<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
  <a href="#" data-icon="delete" data-rel="close">Close</a>
  <li>Enter the new behaviors name and a description of the behavior. Press submit to assign the behavior to the client.</li>
</div>