<title>Create new Client and assign to Provider: <%= params[:provider_name] %></title>

<div data-role="header" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', session[:patient_list_url], :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <li><%= link_to 'Info', request.original_url+'#nav-panel', :class => 'ui-btn ui-btn-icon-bottom ui-icon-info' %></li>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content">
  <center><h2>Create new Client and assign to Provider: <%= params[:provider_name] %></h2></center>

  <% if @patient.errors.any? %>
      <div class='error_messages'>
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @patient.errors.full_messages %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @patient do |f| %>
      <h3>
        <%= f.label :name %>
        <%= f.text_field :patient_name %>
      </h3>

      <%= hidden_field_tag :provider_id, params[:provider_id] %>

      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><%= submit_tag 'Submit', :class => 'ui-btn ui-btn-icon-bottom ui-icon-star' %></li>
            <li><%= link_to 'Cancel', session[:patient_list_url], :class => 'ui-btn ui-btn-icon-bottom ui-icon-delete'  %></li>
          </ul>
        </div>
      </div>
  <% end %>
</div>

<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
  <a href="#" data-icon="delete" data-rel="close">Close</a>
  <li>Press a client to assign them to the provider.</li>
  <li>Press create new client to create a new client and assign them to the provider.</li>
</div>