<title>Inactive Clients</title>

<div data-role="header" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', av_show_all_patients_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <li><%= link_to 'Info', request.original_url+'#nav-panel', :class => 'ui-btn ui-btn-icon-bottom ui-icon-info' %></li>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content">
  <center><h2>Inactive Clients</h2></center>

  <% if @inactive_patient_array != nil && @inactive_patient_array.empty? != true %>
      <% @inactive_patient_array.each do |p| %>
          <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
            <h4><%= p.patient_name %></h4>
            <ul data-role="listview" data-theme="a" style="opacity: 0.5">
              <li><%= link_to 'Reactivate',av_reactivate_patient_path(id: p.id), data: { confirm: 'Are you sure you wish to reactivate Client: '+p.patient_name } %></li>
              <li> <%= link_to 'Destroy', av_destroy_patient_path(id: p.id), data: { confirm: 'Are you sure you wish to destroy Client: '+p.patient_name+ '? This will eliminate all incidents with this Client!' } %></li>
            </ul>
          </div>
      <% end %>
  <% else %>
      <h3>None</h3>
  <% end %>
</div>

<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
  <a href="#" data-icon="delete" data-rel="close">Close</a>
  help
</div>