<title>Inactive Providers</title>

<div data-role="header" data-position="fixed">
  <h1>Inactive Providers</h1>
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', av_show_all_providers_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <li><%= link_to 'CHANGE_HELP_PATH', av_show_all_providers_help_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-info'  %></li>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content">
  <% if @inactive_provider_array != nil && @inactive_provider_array.empty? != true %>
      <% @inactive_provider_array.each do |p| %>
          <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
            <h4><%= p.patient_name %></h4>
            <ul data-role="listview" data-theme="a" style="opacity: 0.5">
              <li><%= link_to 'Reactivate',av_reactivate_provider_path(id: p.id), data: { confirm: 'Are you sure you wish to reactivate Client: '+p.provider_name } %></li>
              <li> <%= link_to 'Destroy', av_destroy_provider_path(id: p.id), data: { confirm: 'Are you sure you wish to destroy Client: '+p.provider_name+ '? This will eliminate all incidents with this Client!' } %></li>
            </ul>
          </div>
      <% end %>
  <% else %>
      <h3>None</h3>
  <% end %>
</div>