<% content_for :title do %>
    Inactive Admins
<% end %>

<% content_for :header do %>
    <%= link_to 'Back', sav_show_all_admins_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %>
<% end %>

<h2>Inactive Admins</h2>

<form><input data-type="search" id="searchForCollapsibleSet" data-theme="a" ></form>
<% if @inactive_admin_array != nil && @inactive_admin_array.empty? != true %>
    <div data-role="collapsibleset" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
      <% @inactive_admin_array.each do |p| %>
          <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
            <h4><%= p.provider_name %></h4>
            <ul data-role="listview" data-theme="a" style="opacity: 0.5;">
              <li><a href="#popup-reactivate-provider-<%= p.id %>" data-rel="popup" data-position-to="window" data-transition="pop" >Reactivate</a></li>
              <li><a href="#popup-destroy-provider-<%= p.id %>" data-rel="popup" data-position-to="window" data-transition="pop" >Destroy</a></li>
            </ul>
          </div>

          <div data-role="popup" id="popup-reactivate-provider-<%= p.id %>" data-overlay-theme="b" data-theme="b" data-dismissible="true" style="max-width: 100%;">
            <h3 class="ui-title" align="center">Reactivate Admin: &nbsp <br> <%=p.provider_name %></h3>
            <div role="main" class="ui-content" data-theme="b">
              <div data-role="footer">
                <div data-role="navbar">
                  <ul>
                    <li><a href="#" data-rel="back">Cancel</a></li>
                    <li><%= link_to 'Confirm', sav_reactivate_admin_path(id: p.id) %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div data-role="popup" id="popup-destroy-provider-<%= p.id %>" data-overlay-theme="b" data-theme="b" data-dismissible="true" style="max-width: 100%;">
            <h3 class="ui-title" align="center">
              Destroy Admin: <br> <%= p.provider_name %> <br><br>
              Warning! This will delete all Incidents associated with this Admin!
            </h3>
            <div role="main" class="ui-content" data-theme="b">
              <div data-role="footer">
                <div data-role="navbar">
                  <ul>
                    <li><a href="#" data-rel="back">Cancel</a></li>
                    <li><%= link_to 'Confirm', sav_destroy_admin_path(id: p.id) %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      <% end %>
    </div>
<% else %>
    <h3>None</h3>
<% end %>

<% content_for :panel do %>
    <ul>
      <li>Press an admin's name to list the available options.</li>
      <li>Press reactivate to return the admin to the active lists.</li>
      <li>Select the destroy button to permanently remove the admin.</li>
    </ul>
<% end %>
