<title>Provider List</title>

<div data-role="header" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %></li>
      <li><%= link_to 'Info', request.original_url+'#nav-panel', :class => 'ui-btn ui-btn-icon-bottom ui-icon-info' %></li>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content" align="left">
  <center><h2>Provider List</h2></center>

  <form><input data-type="search" id="searchForCollapsibleSet" data-theme="a" ></form>
  <% if @provider_array != nil && @provider_array.empty? != true %>
      <div data-role="collapsibleset" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
        <% @provider_array.each do |p| %>
            <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
            <h4><%= p.provider_name %></h4>
            <ul data-role="listview" data-theme="a" style="opacity: 0.5">
              <li><%= link_to 'Clients',av_show_patients_path(p.provider_name, p.id) %></li>
              <li><%= link_to 'Edit',av_edit_provider_path(p.id) %></li>
              <li><a href="#popup-deactivate-provider-<%= p.id %>" data-rel="popup" data-position-to="window" data-transition="pop" >Deactivate</a></li>
            </ul>
            </div>

            <div data-role="popup" id="popup-deactivate-provider-<%= p.id %>" data-overlay-theme="b" data-theme="b" data-dismissible="true" style="max-width: 100%;">
              <h3 class="ui-title" align="center">Deactivate Provider: &nbsp <br> <%= p.provider_name %></h3>
              <div role="main" class="ui-content" data-theme="b">
                <div data-role="footer">
                  <div data-role="navbar">
                    <ul>
                      <li><a href="#" data-rel="back">Cancel</a></li>
                      <li><%= link_to 'Confirm', av_deactivate_provider_path(id: p.id) %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

        <% end %>
      </div>
  <% else %>
      <h3>None</h3>
  <% end %>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Create new', av_create_new_provider_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-plus' %></li>
      <li><%= link_to 'List Inactive', av_show_all_inactive_providers_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-bars'  %></li>
    </ul>
  </div>
</div>

<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
  <a href="#" data-icon="delete" data-rel="close" class="ui-btn ui-btn-icon-right ui-icon-delete">Close</a>
  <ul>
    <li>Press the providers name to list the available options.</li>
    <li>Press clients to list the clients assigned to the provider.</li>
    <li>Press edit to change the providers name, password, or to make them an administrator. </li>
    <li>Press deactivate to remove the provider from the active lists.</li>
  </ul>
</div>