<% content_for :title do %>
    Client List
<% end %>

<% content_for :header do %>
    <%= link_to 'back',
                if session[:self_super_admin]
                  super_admin_home_path
                elsif session[:self_admin]
                  admin_home_path
                end,
                :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %>
<% end %>

  <h2>Client List</h2>

  <form><input data-type="search" id="searchForCollapsibleSet" data-theme="a" ></form>
  <% if @patient_array != nil && @patient_array.empty? != true %>
      <div data-role="collapsibleset" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
          <% @patient_array.each do |p| %>
            <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
            <h4><%= p.patient_name %></h4>
            <ul data-role="listview" data-theme="a" style="opacity: 0.5;">
              <li><%= link_to 'Providers', av_show_providers_path(p.patient_name, p.id)  %></li>
              <li><%= link_to 'Behaviors', av_show_behaviors_path(p.patient_name, p.id)  %></li>
              <li><%= link_to 'Edit', av_edit_patient_path(p.id) %></li>
              <li><a href="#popup-deactivate-patient-<%= p.id %>" data-rel="popup" data-position-to="window" data-transition="pop" >Deactivate</a></li>
            </ul>
            </div>

            <div data-role="popup" id="popup-deactivate-patient-<%= p.id %>" data-overlay-theme="b" data-theme="b" data-dismissible="true" style="max-width: 100%;">
              <h3 class="ui-title" align="center">Deactivate Client: &nbsp <br> <%= p.patient_name %></h3>
              <div role="main" class="ui-content" data-theme="b">
                <div data-role="footer">
                  <div data-role="navbar">
                    <ul>
                      <li><a href="#" data-rel="back">Cancel</a></li>
                      <li><%= link_to 'Confirm', av_deactivate_patient_path(id: p.id) %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
      </div>
  <% else %>
      <h3>None</h3>
  <% end %>

<div data-role="footer" data-position="fixed" data-tap-toggle="false">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Create new', av_create_new_patient_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-plus' %></li>
      <li><%= link_to 'List Inactive', av_show_all_inactive_patients_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-bars'  %></li>
    </ul>
  </div>
</div>

<% content_for :panel do %>
    <ul>
      <li>Press the clients name to access the available options</li>
      <li>Press the provider button to list the clients providers</li>
      <li>Press the behavior button to list the clients behaviors</li>
      <li>Press the edit button to edit the client name</li>
      <li>Press the deactivate button to remove the client from the active lists</li>
      <li>Press the create new button to create a new client</li>
      <li>Press the list inactive button to list the inactive clients</li>
    </ul>
<% end %>
