<% content_for :title do %>
    Create new Client
<% end %>

<% content_for :header do %>
    <%= link_to 'Back', av_show_all_patients_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %>
<% end %>

  <h2>Create new Client</h2>

  <% if @patient.errors.any? %>
      <div class='error_messages'>
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @patient.errors.full_messages %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @patient do |f| %>
      <h3>
        <%= f.label :name %>
        <%= f.text_field :patient_name %>
      </h3>

      <div data-role="footer" data-position="fixed" data-tap-toggle="false">
        <div data-role="navbar">
          <ul>
            <li><%= submit_tag 'Submit', :class => 'ui-btn' %></li>
            <li><%= link_to 'Cancel', av_show_all_patients_path, :class => 'ui-btn' %></li>
          </ul>
        </div>
      </div>
  <% end %>

<% content_for :panel do %>
    <ul>
      <li>Enter the clients name and press submit to save.</li>
    </ul>
<% end %>



<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
  <a href="#" data-icon="delete" data-rel="close" class="ui-btn ui-btn-icon-right ui-icon-delete">Close</a>
  <ul>
    <li>Enter the clients name and press submit to save.</li>
  </ul>
</div>